$bgcolor-animation-duration: 10s;

$bgcolor-opensoft-1: rgb(80, 116, 139, .5);
$bgcolor-opensoft-2: rgb(242, 138, 8, .5);
$bgcolor-blue-1: rgb(134, 229, 255, .5);
$bgcolor-yellow-1: rgb(255, 201, 60, .5);

$screen-min-width: 320px;

$container-margin: 2rem;
$container-border: .6rem;
